@page "/options.html"
@inject HoodBool.Models.Settings settings
@inject HoodBool.Services.SettingsHandler SettingsHandler

<div class="text-options">
    <h1>Settings</h1>
    <hr>
    <div>
        <span>Path to new file</span>
        <br>
        <input @bind="settings.SavePath">
    </div>
    <div>
        <span>Language</span>
        <br>
        <select>

        </select>
    </div>
</div>


@code {
    public void GetSettings() {
        SettingsHandler.Get();
    }

    public void SaveSetings() {

    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        GetSettings();
        settings.SavePath =  "Test";
        Console.WriteLine(JsonSerializer.Serialize(settings.SavePath));
    }
}
